.top-nav {
  height: 12vh;
  background-color: var(--primary--color);
  width: 100%;
  padding: 1rem 4rem;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  color: var(--text--primary--color);
  border-bottom: 1px solid var(--gray--color);
}

.signin-link,
.signout-link {
  font-size: 1.2rem;
}

.top-nav .signin-link,
.top-nav .signout-link:hover {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
}
