.posts-middle-sec {
  border-radius: 10px;
  gap: 1.3rem;
}

.posts-middle-sec::-webkit-scrollbar {
  display: none;
}

.posts-tabs {
  color: var(--text--primary--color);
  width: 100%;
}

.tablist {
  color: var(--text--primary--color);
  width: 100%;
  gap: 5rem;
  padding: 0rem 13rem;
  align-items: center;
  justify-content: center;
  border: none !important;
}

.tab-btn:hover {
  border: 1px solid var(--text--primary--color) !important;
  color: var(--text--primary--color);
}

.posts-control-btn {
  background-color: var(--primary--color) !important;
}

.multiple-posts {
  gap: 1rem;
  margin-bottom: 10px;
}

.explore-link {
  color: var(--explore--link);
}
