:root {
  --primary--color: #0a253b;
  --text--primary--color: #ffffff;
  --text--xlarge: 2.5rem;
  --gray--color: #ababab;
  --sigin--container--color: #ffffff;
  --portfolio--color: #319795;
  --social-media-status: #ffffff;
  --error--text--color: #ff0000;
  --comment--card--background: #ffffff;
  --comment-menu-links: rgb(0, 0, 255);
  --explore--link: rgb(0, 0, 255);
}
